Package: com.rosiepie.flora
Name: Flora
Version: 1.0.0
Architecture: iphoneos-arm
Description: Customize all of your colors with style
Maintainer: Rosie
Author: Rosie
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3), com.mrgcgamer.libgcuniversal
