<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.rosiepie.flora</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Flora</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>camera.macro</string>
            </dict>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Colors</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraBaseColorListController</string>
            <key>label</key>
            <string>Base Colors</string>
            <key>isController</key>
	        <true/>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>sparkles</string>
            </dict>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraSystemColorListController</string>
            <key>label</key>
            <string>System Colors</string>
            <key>isController</key>
            <true/>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>sparkles.square.filled.on.square</string>
            </dict>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraDynamicColorListController</string>
            <key>label</key>
            <string>Dynamic Colors</string>
            <key>isController</key>
	        <true/>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>arrow.up.and.down.and.sparkles</string>
            </dict>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraExternalColorListController</string>
            <key>label</key>
            <string>External Colors</string>
            <key>isController</key>
	        <true/>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>paperplane.fill</string>
            </dict>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraTableColorListController</string>
            <key>label</key>
            <string>Table Colors</string>
            <key>isController</key>
	        <true/>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>swatchpalette.fill</string>
            </dict>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraOtherColorListController</string>
            <key>label</key>
            <string>Other Colors</string>
            <key>isController</key>
	        <true/>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>bubbles.and.sparkles.fill</string>
            </dict>
        </dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Utilities</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>promptToRespring</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>slowmo</string>
            </dict>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>promptToReset</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>trash.fill</string>
            </dict>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Source</string>
            <key>footerText</key>
			<string>Created with &lt;3 by Rosie</string>
            <key>isStaticText</key>
			<true />
		</dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>GcSocialCell</string>
            <key>userName</key>
            <string>Source Code</string>
            <key>subtitle</key>
            <string>You can view the source of my terrible code!</string>
            <key>accessoryType</key>
            <integer>1</integer>
            <key>pfpURL</key>
            <string>https://github.com/acquitelol.png</string>
            <key>URL</key>
            <string>https://github.com/acquitelol/flora</string>
        </dict>
	</array>
	<key>title</key>
	<string>Flora</string>
</dict>
</plist>