<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.rosiepie.flora</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Flora</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Colors</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraSystemColorListController</string>
            <key>label</key>
            <string>System Colors</string>
            <key>isController</key>
	        <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraOtherColorListController</string>
            <key>label</key>
            <string>Other Colors</string>
            <key>isController</key>
	        <true/>
        </dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Utilities</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>promptToRespring</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>promptToReset</string>
		</dict>
	</array>
	<key>title</key>
	<string>Flora</string>
</dict>
</plist>