<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>FloraHeaderCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.rosiepie.flora</string>
			<key>key</key>
			<string>enabled</string>
            <key>title</key>
            <string>Flora</string>
            <key>description</key>
            <string>Created with  ₊˚♡︎  by Rosie</string>
            <key>height</key>
            <real>205</real>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>footerText</key>
			<string>The mode selector above allows you to pick between different functionalities: Simple (two colors theme everything) or Advanced (you can theme every color manually).</string>
            <key>isStaticText</key>
			<true />
		</dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
            <key>cellClass</key>
            <string>FloraPopoverCell</string>
			<key>default</key>
			<string>Simple</string>
			<key>defaults</key>
			<string>com.rosiepie.flora</string>
			<key>key</key>
			<string>mode</string>
            <key>title</key>
            <string>Choose functionality:</string>
            <key>options</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Simple</string>
                    <key>icon</key>
                    <string>paintpalette.fill</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Advanced</string>
                    <key>icon</key>
                    <string>paintpalette</string>
                </dict>
            </array>
			<key>label</key>
			<string>Functionality</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>heart.text.square.fill</string>
            </dict>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>✦   Colors</string>
            <key>floraColorType</key>
	        <string>simple</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>GcColorPickerCell</string>
            <key>label</key>
            <string>Primary</string>
            <key>style</key>
            <integer>1</integer>
            <key>fallback</key>
            <string>e8a7bf</string>
            <key>key</key>
            <string>floraPrimaryColor</string>
            <key>defaults</key>
            <string>com.rosiepie.flora</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>sparkles.rectangle.stack.fill</string>
            </dict>
            <key>floraColorType</key>
	        <string>simple</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>GcColorPickerCell</string>
            <key>label</key>
            <string>Secondary</string>
            <key>style</key>
            <integer>1</integer>
            <key>fallback</key>
            <string>d795f8</string>
            <key>key</key>
            <string>floraSecondaryColor</string>
            <key>defaults</key>
            <string>com.rosiepie.flora</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>sparkles.rectangle.stack</string>
            </dict>
            <key>floraColorType</key>
	        <string>simple</string>
        </dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>✦   Influence</string>
            <key>floraColorType</key>
	        <string>simple</string>
            <key>footerText</key>
            <string>A value of 0 saturation influence means that the color maintains its original saturation, while a value of 1 means the color uses the saturation of the custom color only.</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSStaticTextCell</string>
            <key>cellClass</key>
            <string>FloraSliderCell</string>
            <key>default</key>
            <real>0.40</real>
            <key>key</key>
            <string>floraSaturationInfluence</string>
            <key>label</key>
            <string>Saturation</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>tag.fill</string>
            </dict>
            <key>floraColorType</key>
	        <string>simple</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSStaticTextCell</string>
            <key>cellClass</key>
            <string>FloraSliderCell</string>
            <key>default</key>
            <real>0.20</real>
            <key>key</key>
            <string>floraLightnessInfluence</string>
            <key>label</key>
            <string>Lightness</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>eye</string>
            </dict>
            <key>floraColorType</key>
	        <string>simple</string>
        </dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>✦   Colors</string>
            <key>floraColorType</key>
	        <string>advanced</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraBaseColorListController</string>
            <key>label</key>
            <string>Base Colors</string>
            <key>isController</key>
	        <true/>
            <key>floraColorType</key>
	        <string>advanced</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>sparkles</string>
            </dict>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraSystemColorListController</string>
            <key>label</key>
            <string>System Colors</string>
            <key>isController</key>
            <true/>
            <key>floraColorType</key>
	        <string>advanced</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>sparkles.square.filled.on.square</string>
            </dict>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraDynamicColorListController</string>
            <key>label</key>
            <string>Dynamic Colors</string>
            <key>isController</key>
	        <true/>
            <key>floraColorType</key>
	        <string>advanced</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>arrow.up.and.down.and.sparkles</string>
            </dict>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraTableColorListController</string>
            <key>label</key>
            <string>Table Colors</string>
            <key>isController</key>
	        <true/>
            <key>floraColorType</key>
	        <string>advanced</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>swatchpalette.fill</string>
            </dict>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>FloraOtherColorListController</string>
            <key>label</key>
            <string>Other Colors</string>
            <key>isController</key>
	        <true/>
            <key>floraColorType</key>
	        <string>advanced</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>bubbles.and.sparkles.fill</string>
            </dict>
        </dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>✦   Manage</string>
            <key>footerText</key>
            <string>The tweak's settings such as enabled state and functionality type are not exported due to their nature. Only colors can be exported and imported by these buttons.</string>
            <key>isStaticText</key>
            <true/>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Import Data</string>
			<key>action</key>
			<string>importData</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>square.and.arrow.down</string>
            </dict>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Export Data</string>
			<key>action</key>
			<string>exportData</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>square.and.arrow.up</string>
            </dict>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>✦   Utilities</string>
            <key>footerText</key>
            <string>Note: The white color causes some issues such as app tinting on the home screen, crashing using the Chinese Handwriting keyboard, and maybe more. Enable at your own discretion.</string>
            <key>isStaticText</key>
            <true/>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>promptToRespring</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>arrow.counterclockwise</string>
            </dict>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>promptToReset</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>trash.fill</string>
            </dict>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Disable in Apps</string>
            <key>key</key>
            <string>disableInApps</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.rosiepie.flora</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>circle.grid.3x3.fill</string>
            </dict>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable White Color</string>
            <key>key</key>
            <string>whiteColorEnabled</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.rosiepie.flora</string>
            <key>iconImageSystem</key>
            <dict>
                <key>name</key>
                <string>bin.xmark.fill</string>
            </dict>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>✦   Credits</string>
            <key>id</key>
            <string>credits</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>GcSocialCell</string>
            <key>userName</key>
            <string>Source Code  ˶ᵔ ᵕ ᵔ˶</string>
            <key>subtitle</key>
            <string>You can view the source of my terrible code!</string>
            <key>accessoryType</key>
            <integer>1</integer>
            <key>pfpURL</key>
            <string>https://github.com/acquitelol.png</string>
            <key>URL</key>
            <string>https://github.com/acquitelol/flora</string>
        </dict>
	</array>
	<key>title</key>
	<string>Flora</string>
</dict>
</plist>